<html>
  <head>
    <link href="assets/components/angular-material/angular-material.min.css" rel="stylesheet">
    <style>
      .custom-button { width: 50%; border: 0; padding: 10px; margin: 5px auto; text-decoration: none; text-align: center; border-radius: 3px; }
    </style>
  </head>
  <body layout="row">
    <div offset="33" flex="33" layout="column">
      <img src="assets/img/logo.png" style="width:auto;max-height:200px;max-width:100%;margin:0px auto;">
      <md-content class="md-padding">
        <p>jLegends is a turn based game which combines elements of role-playing games,
        rogue-like games and hack n slash.</p>
        <h4>You just need to code in JavaScript! <img src="assets/img/JavaScript-logo.png" style="height:33px;border-radius:3.3px;"></h4>
        <p>Yes, that's right. There is no keyboard or mouse input inside the game. Only a code editor.</p>
        <p>jLegends is still in <b>Beta</b> so only single-player and multiplayer modes are available.</p>
        <md-divider></md-divider>
        <small>Anyway, I can keep writing and you can keep reading, or you can just join jLegends and <b>find out more in the battlefield</b>.</small>
        <div style="text-align: center;" layout="column">
          <a href="/tutorial" class="custom-button" style="background-color:#3F51B5;color:#FFF;">Quick Tutorial</a>
          <a href="/login" class="custom-button" style="background-color:#FFC107;color:#000;">Join jLegends</a>
        </div>
      </md-content>
    </div>
  </body>
</html>