#dashboard img {
  border-radius: 100%;
}

#dashboard div > div[flex="15"] {
  text-align: center;
}

#dashboard div > div[flex="15"] > img {
  cursor: pointer;
  max-width: 100%;
  max-height: 200px;
}