.CodeMirror {
  font-family: 'source-code';
  font-weight: 400;
}

#canvas {
  width: 100%;
  max-width: 900px;
  height: 400px;
  margin: 0px auto;
}

#methods-window {
  position: fixed;
  z-index: 1337;
  top: 5%;
  left: 1%;
  font-size: 12px;
}

#methods-window > div {
  background-color: #F0F0F0;
}

#methods-window p {
  max-width:200px;
}

.line-error {
  background-color: #F44336;
}